<div class="container">
  <app-product-card
    [id]="product.id"
    [productName]="product.name"
    [authors]="product.authors"
    [company]="product.company"
    [imgUrl]="product.imgUrl"
    [(isShow)]="product.isShow"
    [createDate]="product.createDate"
    [price]="product.price"
  ></app-product-card>
  <app-product-card
    [id]="product.id"
    [productName]="product.name"
    [authors]="product.authors"
    [company]="product.company"
    [imgUrl]="product.imgUrl"
    [(isShow)]="product.isShow"
    [createDate]="product.createDate"
    [price]="product.price"
  ></app-product-card>
  <app-product-card
    [id]="product.id"
    [productName]="product.name"
    [authors]="product.authors"
    [company]="product.company"
    [imgUrl]="product.imgUrl"
    [(isShow)]="product.isShow"
    [createDate]="product.createDate"
    [price]="product.price"
  ></app-product-card>
  <app-product-card
    [id]="product.id"
    [productName]="product.name"
    [authors]="product.authors"
    [company]="product.company"
    [imgUrl]="product.imgUrl"
    [(isShow)]="product.isShow"
    [createDate]="product.createDate"
    [price]="product.price"
  ></app-product-card>
</div>
