input[type="text"]{
    width: 200px;
    line-height: 25px;
}
header{
    text-align:center;
}

.card {
    width: 250px;
    border-style: solid;
    border-color: #999;
    border-width: 1px;
    border-radius: 8px;
}
