header{
    text-align:center;
    color: rgb(0, 0, 0, 0.8);
}
body{
    margin: 0px;
}
section{
    margin: 0 5%;
}
a{
    border: solid 1px #999;
    padding: 8px;
    display: inline-block;
    width: 80px;
    text-align: center;
}
input[type="text"]{
    width: 200px;
    line-height: 25px;
}
table{
    border: solid 1px;
    border-collapse: collapse;
    width:100%;
}
th{
    background-color: #777777;
    color: white;
}
th, td{
    border: solid 1px;
    height: 30px;
}
td.col0{
    width: 120px;
    text-align: center;
}
td.col1{
    height: 30px;
}
td.col2{
    width: 150px;
    text-align: center;
}
td.col3{
    width: 100px;
    text-align: right;
}
div{
    margin: 5px 0px;
}
.card {
    width: 250px;
    border-style: solid;
    border-color: #999;
    border-width: 1px;
    border-radius: 8px;
}
footer{
    margin: 15px 0px 0px 0px;
}
